<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wiseco.var.process.app.server.repository.JavaToolkitMethodMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wiseco.var.process.app.server.repository.entity.JavaToolkitMethod">
        <result column="id" property="id"/>
        <result column="identifier" property="identifier"/>
        <result column="class_identifier" property="classIdentifier"/>
        <result column="name" property="name"/>
        <result column="label" property="label"/>
        <result column="characters" property="characters"/>
        <result column="return_value_java_type" property="returnValueJavaType"/>
        <result column="return_value_wrl_type" property="returnValueWrlType"/>
        <result column="return_value_is_array" property="returnValueIsArray"/>
        <result column="class_canonical_name" property="classCanonicalName"/>
        <result column="modifier" property="modifier"/>
        <result column="template" property="template"/>
        <result column="compile_template" property="compileTemplate"/>
        <result column="status" property="status"/>
        <result column="import_status" property="importStatus"/>
        <result column="delete_flag" property="deleteFlag"/>
        <result column="created_user" property="createdUser"/>
        <result column="updated_user" property="updatedUser"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        identifier, class_identifier, name, label, characters, return_value_java_type, return_value_wrl_type,
        return_value_is_array, class_canonical_name,
        modifier, template, compile_template, status, import_status, delete_flag, created_user, updated_user,
        created_time, updated_time
    </sql>

</mapper>
