<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wiseco.var.process.app.server.repository.VarProcessStatisticsResultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wiseco.var.process.app.server.repository.entity.VarProcessStatisticsResult">
        <result column="id" property="id"/>
        <result column="statistics_config_id" property="statisticsConfigId"/>
        <result column="var_name" property="varName"/>
        <result column="data_type" property="dataType"/>
        <result column="iv_result" property="ivResult"/>
        <result column="psi_result" property="psiResult"/>
        <result column="missing_ratio" property="missingRatio"/>
        <result column="unique_num" property="uniqueNum"/>
        <result column="unique_val" property="uniqueVal"/>
        <result column="special_ratio" property="specialRatio"/>
        <result column="zero_ratio" property="zeroRatio"/>
        <result column="minimum_val" property="minimumVal"/>
        <result column="max_val" property="maxVal"/>
        <result column="average_val" property="averageVal"/>
        <result column="percentage_result" property="percentageResult"/>
        <result column="created_user" property="createdUser"/>
        <result column="updated_user" property="updatedUser"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <select id="getPageList"
            parameterType="com.wiseco.var.process.app.server.controller.vo.input.VarProcessStatisticsResultQueryVO"
            resultType="java.util.Map">
        SELECT
        vpsr.var_name as "变量名称",
        vpsr.data_type as "数据类型",
        vpsr.iv_result as IV,
        vpsr.psi_result as PSI,
        vpsr.missing_ratio as "缺失值占比",
        vpsr.unique_num as "唯一值数量",
        vpsr.unique_val as "uniqueVal",
        vpsr.special_ratio as "特殊值占比",
        vpsr.zero_ratio as "零值占比",
        vpsr.minimum_val as "最小值",
        vpsr.max_val as "最大值",
        vpsr.average_val as "均值",
        vpsr.percentage_result as "percentageResult"
        FROM var_process_statistics_result vpsr join var_process_statistics_config vpsc on vpsr.statistics_config_id =
        vpsc.id

        <where>
            1 = 1
            <if test="queryVO.varProcessServiceId != null and queryVO.varProcessServiceId != ''">
                AND vpsc.var_process_service_id = #{queryVO.varProcessServiceId}
            </if>

            <if test="queryVO.varProcessManifestId != null and queryVO.varProcessManifestId != ''">
                AND vpsc.var_process_manifest_id = #{queryVO.varProcessManifestId}
            </if>
            <if test="queryVO.indexName != null and queryVO.indexName != ''">
                AND vpsr.var_name LIKE concat('%',#{queryVO.indexName},'%')
            </if>
        </where>
        order by ${queryVO.sortKey} ${queryVO.sortType}
    </select>


    <select id="getPageList"
            parameterType="com.wiseco.var.process.app.server.controller.vo.input.VarProcessStatisticsResultQueryVO"
            resultType="java.util.Map"
            databaseId="dm">
        SELECT
        vpsr.var_name as "变量名称",
        vpsr.data_type as "数据类型",
        vpsr.iv_result as IV,
        vpsr.psi_result as PSI,
        vpsr.missing_ratio as "缺失值占比",
        vpsr.unique_num as "唯一值数量",
        convert(varchar, vpsr.unique_val)  as "uniqueVal",
        vpsr.special_ratio as "特殊值占比",
        vpsr.zero_ratio as "零值占比",
        vpsr.minimum_val as "最小值",
        vpsr.max_val as "最大值",
        vpsr.average_val as "均值",
        convert(varchar,vpsr.percentage_result) as "percentageResult"
        FROM var_process_statistics_result vpsr join var_process_statistics_config vpsc on vpsr.statistics_config_id =
        vpsc.id

        <where>
            1 = 1
            <if test="queryVO.varProcessServiceId != null and queryVO.varProcessServiceId != ''">
                AND vpsc.var_process_service_id = #{queryVO.varProcessServiceId}
            </if>

            <if test="queryVO.varProcessManifestId != null and queryVO.varProcessManifestId != ''">
                AND vpsc.var_process_manifest_id = #{queryVO.varProcessManifestId}
            </if>
            <if test="queryVO.indexName != null and queryVO.indexName != ''">
                AND vpsr.var_name LIKE concat('%',#{queryVO.indexName},'%')
            </if>
        </where>
        order by ${queryVO.sortKey} ${queryVO.sortType}
    </select>
</mapper>
